<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title><%- process.env.TITLE %></title>
    <!-- Favicon-->
    <link rel="icon" href="/img/sdc-color.svg" type="image/x-icon">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

    <!-- Bootstrap Core Css -->
    <link href="/js/plugins/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Waves Effect Css -->
    <link href="/js/plugins/node-waves/waves.css" rel="stylesheet" />

    <!-- Animation Css -->
    <link href="/js/plugins/animate-css/animate.css" rel="stylesheet" />

    <!-- Custom Css -->
    <link href="/css/css/style.css" rel="stylesheet">
    <script src="https://www.google.com/recaptcha/api.js"></script>
</head>

<body class="fp-page">
    <div class="fp-box">
        <div class="card">
            <div class="body">
                <form id="forgot_password" method="POST" action="/app/recuperarsenha">
                    <div class="logo">
                        <img src="/img/shopping_crianca400.png" alt="logo" height="90" style="margin-left: 10px;">
                    </div>
                    <div class="msg">
                        Insira seu CNPJ ou CPF e a nova senha será enviada para o e-mail cadastrado.
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">person</i>
                        </span>
                        <div class="form-line">
                            <input type="number" class="form-control" name="cnpj" placeholder="CNPJ ou CPF" required autofocus>
                        </div>
                    </div>

                    <button class="btn btn-block btn-lg bg-pink waves-effect" type="submit">ENVIAR SENHA</button>

                    <div class="row m-t-20 m-b--5 align-center">
                        <a href="/">ENTRAR</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Jquery Core Js -->
    <script src="/js/plugins/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core Js -->
    <script src="/js/plugins/bootstrap/js/bootstrap.js"></script>

    <!-- Waves Effect Plugin Js -->
    <script src="/js/plugins/node-waves/waves.js"></script>

    <!-- Validation Plugin Js -->
    <script src="/js/plugins/jquery-validation/jquery.validate.js"></script>

    <!-- Custom Js -->
    <script src="/js/js/admin.js"></script>
    <script src="/js/js/pages/examples/forgot-password.js"></script>
</body>

</html>